.publiList
{
    padding-left: 0px;
    margin-top: 125px;
}
.foto ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.foto ul{
    display: block;
    list-style-type: none;
}
.avatar
{
    position: fixed;
    background-color: #EAE2B7;
    text-align: end;
    font-size: xx-large;
}
.contenedorEnvioImg
{
    left: 0;
    background-color: #EAE2B7;
    padding-bottom: 10px;
}
.friendList
{
    top: 130px;
    right: 0px;
    background-color: #d6cfa8;
    min-height: 500px;
    max-height: fit-content;
    position: fixed;
}
.btn
{
    margin-top: 7px;
}
.userbar
{
    padding-top: 20px;
    margin-top: 20px;
}
