body
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.logIn
{
    transition:1s ease all;
    padding-top: 30px;
    align-content: center;
    background-color: #EAE2B7;
    overflow-x: hidden;
    overflow-y: hidden;
}
.logIn.dark
{
    padding-top: 30px;
    align-content: center;
    transition:1s ease all;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}


.welcome
{
    transition:1s ease all;
    text-align: center;
    background-color: #EAE2B7;
    color: black;
}
.welcome.dark
{
    transition:1s ease all;
    text-align: center;
    background-color: black;
    color: #EAE2B7;
}


.logFourm
{
    transition:1s ease all;
    border: solid rgba(0, 0, 0, 0.356) 2px;
    padding: 50px;
    border-radius: 25px;
    background-color:#f3edc9;
    color: black;
}
.logFourm.dark
{
    border: solid rgba(0, 0, 0, 0.356) 2px;
    border-radius: 25px;
    transition:1s ease all;
    background-color: rgb(95, 95, 95);
}

.username
{
    background-color: #EAE2B7;
}
.username.dark
{
    background-color: grey;
}



