.userCont
{
    background-color: #EAE2B7;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    font-family:sans-serif;
    top: 0;
    z-index: 10;
}
.friendList
{   margin-top: 100px;
    background-color: #d6cfa8;
    min-height: 500px;
    max-height: fit-content;
    position: fixed;
    left: 0;
    padding-right: 200px;
}
.postList
{
    display: inline;
    list-style-type: none;
    padding-left: 1000px;
   align-content: center;
}

.profilePic
{
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0);
    border-radius: 100px;
    align-items: center;
    margin-left: 15px;
}
img
{
    object-fit: contain;
}
.friendList.dark {
background-color: #000;
transition: ease-in-out .3s;
color: white
}
.userCont.dark {
background-color: #000;
transition: ease-in-out .3s;
color: white;
}
.homeIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.homeIcon.dark
{
    color: white;
}
.messageIcon
{
    color: black;
}
.messageIcon.dark
{
    transition: ease-in-out .3s;
    color: white;
}
.lightIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.lightIcon.dark
{
    color: white;
}
.gearIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.gearIcon.dark
{
   color: white;
}