header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}

.divheader.dark
{
    align-content: center;
    transition:1s ease all;
    background-color: black;
    overflow: hidden;
}


.divheader 
{
    font-family: 'Kaisei Tokumin', serif; 
    transition:1s ease all;
    text-align: center;
    background-color: #EAE2B7;
    color: black;
    padding: 10px;
    display: flex;
}
.iconos
{
    align-items: flex-end !important;
    text-align: end;
}
.logo
{
    text-align: start !important;
}