html
{
    background-color: rgb(97, 95, 95);
}
main{
    margin-top: 9rem;
}
main.dark
{
    background-color: rgb(54, 54, 54);
}
.titulologo{
    font-family: 'Stick No Bills', sans-serif; 
}

.publiList
{

    margin-top: 170px;
    padding-left: 100px;

}
.foto ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.foto ul{
    display: block;
    list-style-type: none;
}
.avatar
{
    background-color: #EAE2B7;
    text-align: start;
    font-size: xx-large;
    z-index: 10;

}
.contenedorEnvioImg
{
    transition: ease-in-out .3s;
    background-color: #EAE2B7;
    padding-bottom: 10px;
    z-index: 10;
    align-items: flex-end;
}
.friendList
{
    padding-top: 1.2rem;
    top: 0px;
    right: 0px;
    background-color: #d6cfa8;
    min-height: 100vh;
    width: 300px;
}
.friendList.dark
{
    background-color: rgb(36, 36, 36);
    color: white;
    transition: ease-in-out .3s;
}
.btn
{
    margin-top: 7px;
}
.userbar
{
    left: 0px;
    z-index: 0;
    padding-top: 20px;
    display: fixed;
}
.userbar.dark
{
    transition: ease-in-out .3s;
    background-color: black;
    color: white;
}
.divheader.dark 
{
color: whitesmoke;
}
.contenedorEnvioImg.dark 
{
background-color: #000;

}
.avatarUsuario
{
    transition: ease-in-out .3s;
    background-color: #EAE2B7;
    color: black;
}
.avatarUsuario a
{
    transition: ease-in-out .3s;

    color: black;
}
.avatarUsuario.dark
{
    background-color:black;
}
.avatarUsuario.dark a
{
    color: white;
} 
.homeIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.homeIcon.dark
{
    color: white;
}
.messageIcon
{
    color: black;
}
.messageIcon.dark
{
    transition: ease-in-out .3s;
    color: white;
}
.lightIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.lightIcon.dark
{
    color: white;
}
.gearIcon
{
    transition: ease-in-out .3s;
    color: black;
}
.gearIcon.dark
{
   color: white;
   transition: ease-in-out .3s;
}
.aside_out {
    position: fixed;
    right: 0;
    top: 190px;
}
@media screen and (max-width: 1159px){
    .aside_out{
        position: static; 
    }
    .friendList{
        min-height: auto;
        width: 100%;
    }
}